<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{content}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="confirm_yes()" class="btn btn-primary" data-dismiss="modal">Yes</button>
        <button type="button" ng-click="cancel()" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>